@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Undercooked.UI

<root>
    <div class="bottom-right">
        <InputHints />
    </div>
    <div class="bottom-left">
        <Money />
    </div>
</root>