$background: #fffbe7;
$foreground: #847357;
$muted: #eee2cc;
$muted-foreground: #847357;
$primary: #34aa9c;
$primary-foreground: #fffbe7;
$secondary: #1f526e;
$secondary-foreground: #fffbe7;
$tertiary: #bda646;
$tertiary-foreground: #fffbe7;

* {
  font-family: "M PLUS Rounded 1c";
}
