RecipeListItem {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;

  > button {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.locked {
      opacity: 0.5;
    }

    &:hover:not(.locked),
    &.selected {
      background: #fae440;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background: #fae440;
        opacity: 0.8;
        background-blend-mode: multiply;
        mask-image: url("/UI/stripes.svg");
        mask-size: 40px 40px;
        mask-repeat: repeat;
        animation: horizontal-stripes 20s linear infinite;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 1px;
    background-image: url("/UI/border_dashed.svg");
    background-repeat: repeat-x;
    background-size: 16px 1px;
    background-position: left center;
  }
}
