@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Undercooked.UI

<root>
    <span class="kbd">
        @Input.GetButtonOrigin(InputAction).ToUpper()
    </span>
    <span class="text">
        @Text
    </span>
</root>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string InputAction { get; set; }
}
