@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Undercooked.UI

<root>
    <Image Texture="@Input.GetGlyph(InputAction, InputGlyphSize.Small, true)" />
    <span>
        @Text
    </span>
</root>

@code {
    [Property]
    public string Text { get; set; }

    [Property]
    public string InputAction { get; set; }
}
