@import "/UI/Theme.scss";

Money {
  height: 96px;
  position: absolute;
  bottom: 16px;
  left: 48px;
  overflow: visible;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $background;
  border-radius: 9999px;
  transform-origin: left bottom;
  transform: rotate(-7deg);

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -60%);
    width: 80px;
    height: 80px;
    z-index: -1;
    overflow: visible;
    background-image: url("/UI/Icons/money.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: border-wrap(8px, $background);
  }
}

Money .icon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
  width: 80px;
  height: 80px;
  z-index: 10;
}

Money .amount {
  background-color: $secondary;
  color: $secondary-foreground;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 110%;
}
