@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Undercooked.UI.HUD

<root>
    <Image class="icon" Texture="@Texture.Load("/ui/cashgreen2_nooutline.png")" />
    <span class="amount">@FormattedMoney</span>
</root>

@code {
    private string FormattedMoney => (Player.Local?.BackendMoney ?? 0).ToString("N0");

    protected override int BuildHash() => System.HashCode.Combine(
        Player.Local?.BackendMoney ?? 0,
        Player.Local?.BackendDataRevision ?? 0L );
}
